*.suo
*.user
*.userosscache
*.userprefs
*.ide
*.ide-*
*.lock
Debug/
Release/
.vs/

*.dll
*.dll-Help.xml

lib/
HorkerTemplateEngine/

temp.*
*.tmp

# Don't add to the repos becuase the Nuget API key is written in this
Publish.ps1
